/* @import "./base.css"; */

/*Proxima Sans Font would be ideal same font used in attached image) - http://www.identifont.com/show?5Q5*/

@import url(https://fonts.googleapis.com/css?family=Lato:300);

font-face {
  font-family: ProximaNova-Light;
  font-style: 300;
  font-weight: 300;
  src: url(https://dl.dropboxusercontent.com/u/2294275/ProximaNova-Light.otf") format("opentype");
}

body {margin:0; background:#333; font: 300 18px 'Lato', sans-serif;}

.clear {clear:both;}

input {border:1px solid #DDD; padding:10px 20px; color:#333; font-size:16px;}
  .button {padding:10px 30px; font-size:16px;}
    .button.blue {background:#4DBAE7; color:#FFF;}
  .button:hover {opacity:0.9; cursor:pointer;}

.h-wrapper {background-color:#313537;}
.header {width:1100px; margin:0 auto;}

.logo {margin-right:75px; float:left; position:relative; top:15px;}
  .logo a {color:#FFF; text-decoration:none; font-size:24px; background:#EF4F50; padding:7px 21px; border-radius:3px;}

ul.hnav {list-style:none; margin:0; padding:10px 0; text-transform:uppercase; font-size:15px;}
.hnav li {float:left; margin-right:40px; padding: 0 25px 0 0;}

.hnav li.dash {
background-image: url('https://dl.dropboxusercontent.com/u/2294275/iconmonstr-coin-5-icon-16.png');
background-repeat: no-repeat;
background-position: 100% 50%;
padding:0 25px 0 0;
}
.hnav li.settings {
background-image: url('https://dl.dropboxusercontent.com/u/2294275/iconmonstr-wrench-7-icon-16.png');
background-repeat: no-repeat;
background-position: 100% 50%;
padding:0 25px 0 0;
}
.hnav li.admin {
background-image: url('https://dl.dropboxusercontent.com/u/2294275/iconmonstr-user-9-icon-16.png');
background-repeat: no-repeat;
background-position: 100% 50%;
padding:0 25px 0 0;
}

  .hnav li a {color:#FFF; text-decoration:none;}
  .hnav li a:hover {text-decoration:underline;}
.hnav li.right {float:right;}
.hnav li.last {margin-right:0;}

.cwrapper {background:#FFF; min-width:1100px; padding:35px 0; border-bottom:1px solid #ebedef;}
	.cwrapper.alt {background:#F9FBFC;}
.content {width:1100px; margin:0 auto;}

.flist p {display:inline-block; width:110px;}
.flist input {}
.flist p img {width: -webkit-fill-available; cursor: pointer; }
.flist p.larger {width: -webkit-fill-available; }
.flist .big {font-size: xx-large; font-weight: 800;}
.flist .red {color: #EF4F50;}

.cbox {background:#DBECED; padding:15px; position:relative;}
  .cbox.fleft {float:left; width:510px;}
  .cbox.fright {float:right; width:510px;}
.cbox h3 {font-weight:normal; background:#EF4F50; color:#FFF; padding:7px 21px; border-radius:0 0 5px 5px; display:inline-block; position:relative; top:-15px; top:-15px;}
.cbox h3, .cbox p {margin:0;}
.cbox .rwrap {background:#DDD; width:185px; position:absolute; height:100%; top:0; right:0;}
.cbox .rwrap div {padding:10px;}
  .cbox .rwrap .flist p {display:block; font-size:14px; width:auto;}

.cbox ul.list {list-style:none; margin:15px 0; padding:0; border-top:1px solid #CCC; margin-left:-15px; margin-right:-15px;}
.cbox .list li {border-bottom:1px solid #CCC; padding:5px 15px; font-size:14px; background:#E1E1E1;}

/* UL "Tables" */
 div.ultable {margin-top:10px;}
 ul.lister {list-style:none; text-align:left; border-bottom:1px solid #CCC; padding:5px 15px; font-size:14px; background:#E1E1E1; margin:0 -15px;}
 ul.lheader {background:none;}
 ul.lister li {display:inline-block; width:13%;}
 ul.lister a {text-decoration:none;}
    ul.lister a:hover {text-decoration:underline;}

.fwrapper {background-color:#3a3f42;}
.footer {width:1100px; margin:0 auto;}

ul.fnav {list-style:none; margin:0; padding:10px 0;}
.fnav li {display:inline-block; margin-right:25px;}
  .fnav li a {color:#FFF; text-decoration:none; font-size:16px;}
    .fnav li a:hover {color:#DDD;}